<div class="flex-none hotel-card">
  <div class="rounded shadow-sm">
    <div class="flex">
      <img
        class="w-full hotel-img"
        src="https://cloud.tui.com/pics/hotels/size:1600/aHR0cDovL3RraW1hZ2VzLmF4aXNkYXRhLm5ldC9JbWFnZUNvbnZlcnRlci5waHA/c2l6ZT1wcmludCZob3RlbD1BRVNCQ043R09XJmZpbGVuYW1lPTIwMTQxMTEzMTAwMDIzXzMwODAxNC5qcGc="
        alt="Sunset in the mountains"
      />
      <div class="flex flex-col flex-auto">
        <div class="px-6 py-4 mb-4">
          <p class="text-base hotel-name text-blue font-bold text-2xl">
            {{product.hotelName}}
          </p>
          <div
            class="flex items-center text-base text-blue font-normal text-base"
          >
            <!-- Icon Location -->
            <svg
              width="12"
              height="16"
              viewBox="0 0 12 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.20019 6.01489C1.21387 4.75083 1.72562 3.54318 2.62432 2.65416C3.52303 1.76513 4.73614 1.26648 6.00028 1.26648C7.26442 1.26648 8.47753 1.76513 9.37624 2.65416C10.2749 3.54318 10.7867 4.75083 10.8004 6.01489C10.8004 8.64627 6 14.75 6 14.75C6 14.75 1.20019 8.64627 1.20019 6.01489Z"
                stroke="#092A5E"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.00056 6.2005C6.33204 6.2005 6.60075 5.93178 6.60075 5.60031C6.60075 5.26884 6.33204 5.00012 6.00056 5.00012C5.66909 5.00012 5.40038 5.26884 5.40038 5.60031C5.40038 5.93178 5.66909 6.2005 6.00056 6.2005Z"
                stroke="#092A5E"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span>
              &nbsp; {{product.country.label}}, {{product.region.label}},
              {{product.city.label}}
            </span>
          </div>
        </div>
        <div class="px-6 py-4 flex justify-end">
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Check Hotel
          </button>
          <p class="text-5xl font-bold text-blue ml-6">
            {{formatNumber(product.perPerson.totalPrice.currency,
            product.perPerson.totalPrice.amount)}}
            <span class="text-base font-normal text-blue">/ Total</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
