<div>
  <p
    class="font-bold text-3xl"
    v-if="suggestion_selected"
    v-html="suggestion_selected.label"
  ></p>
  <p class="font-normal text-base">{{productTotal || 0}} results</p>

  <div class="flex flex-wrap mt-8">
    <tui-hotel-item
      v-for="(item, index) in productList"
      :key="index"
      :product="item"
    ></tui-hotel-item>
  </div>

  <div class="flex justify-center mt-10">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      @click="moreItens()"
    >
      Load more offers
    </button>
  </div>
  <div class="flex justify-center mt-3 pb-10">
    <p class="text-xs font-bold text-tui-grey">1-15 de 2000+ Hoteles</p>
  </div>
</div>
